@model MileagePro.Models.DataPointListModel

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.DataPoints.First().Date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataPoints.First().OdometerReading)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataPoints.First().GallonsPurchased)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataPoints.First().TotalCost)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataPoints.First().DistanceSinceLastFill)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataPoints.First().PricePerGallon)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model.DataPoints)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OdometerReading)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.GallonsPurchased)
			</td>
			<td>
				@String.Format("{0:c}", item.TotalCost)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DistanceSinceLastFill)
			</td>
			<td>
				@String.Format("{0:c}", item.PricePerGallon)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
